@model List<D_3.Models.Sala>

<h1>BIGLIETTI</h1>

@foreach (var sala in Model)
{
    <div class="text-center">
        <h2 class="display-4">@sala.Nome</h2>
        <p>Biglietti Totali venduti: @sala.BigliettiTotali</p> <!-- Corretto per mostrare il conteggio -->
        <p>Biglietti Ridotti Venduti: @sala.BigliettiRidotti</p>
    </div>
}



